/*Section Top*/
.top {
    min-height: 60vh;

}

.top-content {
    color: white;
    text-align: center;
}

.top-title {
    font-size: 30px;
}
/*Section Top End*/
/* Chef Section */
.chef {
    min-height: 50vh;
}

.chef-items {
    width:100%;
    margin: 0 auto;
    padding-top: 50px;
}

.chef-text {
    width: 40%;
    padding: 50px;
}

.chef-title {
    font-size: 50px;
    font-weight: bold;
    color: #f16522;
}

.chef-desc {
    margin: 20px 0;
    width: 70%;
    font-size: 13px;
    color: #2e2c2c;

}

.chef-link {
    border: 1px solid;
    background: #f16522;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 10px;
    font-size: 15px;
    color: white;

}

.mContentChef{
    width: 100%;
    max-width: 700px;
    min-width: 300px;
    min-height: 200px;
}


/*Chef Section End*/


/*Food Gallery*/

.food-gallery-item {
    width: 50%;
    min-width: 50%;
}
.modal-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    min-width: 300px;
    min-height: 300px;
    padding: 20px;
}
/*Food Gallery End*/
/*Newsletter Section*/
.newsletter-btn {
    width: 60%;

}
/*Newsletter Section end*/
/*Menu Section*/
.menu-content {
    width: 700px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*Menu Section end*/
/*Contact Section*/
.contact-form {
    background: white;
    width: 200px;
    min-height: 200px;
    padding: 30px 30px;

}
.contacts-sources {
    width: 96%;
    display: flex;
    justify-content: space-between;
}
.contact-logo {
    margin: 0 20px auto;
    padding-bottom: 20px;
}
/*Contact Section end*/