/*Section Top*/
.navBar{
    height: 80%;
}
.top {
    min-height: 50vh;

}

.top-content {
    color: white;
    text-align: center;
}

.top-title {
    font-size: 30px;
}
/*Section Top End*/
/* Chef Section */
.chef {
    background: url("pictures/chefimage.png") no-repeat right 110px bottom 0 #ffff;
    min-height: 60vh;
}

.chef-items {
    width:100%;
    margin: 0 auto;
    padding-top: 50px;
}

.chef-text {
    width: 40%;
    padding: 70px;
}
.mContentChef{
    width: 100%;
    max-width: 700px;
    min-width: 300px;
    min-height: 200px;
}


/*Chef Section End*/


/*Food Gallery*/

.food-gallery-item {
    width: 50%;
    min-width: 50%;
}
.modal-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    min-width: 300px;
    min-height: 300px;
    padding: 20px;
}
/*Food Gallery End*/
/*Newsletter Section*/
.newsletter-btn {
    width: 60%;

}
/*Newsletter Section end*/
/*Menu Section*/
.menu-content {
    width: 700px;

}
/*Menu Section end*/
/*Contact Section*/
.contact-form {
    background: white;
    width: 200px;
    min-height: 200px;
    padding: 30px 30px;

}
.contacts-sources {
    width: 96%;
    display: flex;
    justify-content: space-between;
}
.contact-logo {
    margin: 0 60px auto;
    padding-bottom: 20px;
}
.contact-links{
    padding-left: 40px;
}

/*Contact Section end*/

/*google map*/
#map iframe{
    height: 600px;
}
/*google map*/
